*.lock
**/node_modules/
**/public/
**/dist/
**/www/
**/.stencil/
**/*.lock
**/*.log
**/*.d.ts
**/*.config.js
**/*.editorconfig
**/*.gitignore
**/LICENSE
**/LICENSE HEADER
.prettierignore
*.log
**/*.png
**/*.jpg
**/*.ico
**/*.svg
**/*.prod
**/*.staging
**/build/
**/*.snap
**/*.env
**/*.Rproj
**/*.R
**/*.Rd
**/NAMESPACE
**/DESCRIPTION
**/*.Rbuildignore
**/htmlwidgets/lib
**/*.ipynb
**/*.py
**/*.in
**/*.toml
**/*.cfg
**/makefile
